<!DOCTYPE html>
<div class="content-container">
    <h2>Customers</h2>
    
    <div class="select">
        <a class="btn" href="/add-customer">Add New Customer</a>
        <br/>
        <br/>
        <div class="scroll-table">
            <table id="select-table">
                <colgroup>
                    <col id="data1-col">
                    <col id="data2-col">
                    <col id="data3-col">
                    <col id="data4-col">
                    <col id="data5-col">
                    <col id="edit-col" style="visibility: collapse">
                    <col id="delete-col" style="visibility: collapse">
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Birthdate</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.customerID}}</td>
                        <td>{{this.firstName}}</td>
                        <td>{{this.lastName}}</td>
                        <td>{{formatDate this.birthdate}}</td>
                        <td>{{this.email}}</td>
                        <td><a href="#"><span class="material-symbols-outlined">edit_square</span></a></td>
                        <td><a href="#"><span class="material-symbols-outlined">delete</span></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
</div>


